# Prerequisites
*.d

#Ignore Makefiles
Makefiles
makefile
*.mk

#ignore .cache dir
.cache/

#ignore compile_commands.json (worth sharing if its portable and useful for syncing workspaces)
compile_commands.json

# Visual Studio Files
.vs
*.filters
*.user
*.vcxproj
*.sln

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#intermediates
*.ilk
*.pdb
*.idb
*.exp 

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin
obj
*.out
*.app

#dependencies
!thirdparty/bin